.gradle/
build/

!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!gradlew
!gradlew.bat

src/main/resources/application.yml
src/main/resources/application.yaml
src/main/resources/application-*.yml
src/main/resources/application-*.yaml
src/main/resources/application.properties
src/main/resources/application-*.properties
src/main/resources/application-prod.yml

.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
.env

bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

.idea/
*.iws
*.iml
*.ipr

out/
.vscode/

*.log
logs/
*.tmp
*.bak

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

.DS_Store
._*

*~
.directory