<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.wellness.mail.model.dao.MailMapper">

	<select id="verifyEmailTime">
		SELECT
			COUNT(*)
		FROM
			AUTH_EMAIL
		WHERE
			EXP_DATE > SYSDATE
		AND
			EMAIL_ADDR = #{emailAddr}
		AND
			AUTH_YN = 'N'
	</select>

	<select id="verifyEmailCode">
		SELECT
			COUNT(*)
		FROM
			AUTH_EMAIL
		WHERE
			EMAIL_ADDR = #{emailAddr}
		AND
			AUTH_CODE = #{authCode}
		AND
			EXP_DATE > SYSDATE
		AND
			AUTH_YN = 'N'
	</select>

	<update id="deleteSuccessEmail">
		UPDATE
			AUTH_EMAIL
		SET
			AUTH_YN = 'Y'
		WHERE
			EMAIL_ADDR = #{emailAddr}
		AND
			AUTH_CODE = #{authCode}
	</update>

	<delete id="deleteExpiredEmail">
		DELETE
		FROM
			AUTH_EMAIL
		WHERE
			EMAIL_ADDR = #{emailAddr}
	</delete>

	<delete id="authMailCleanup">
		DELETE
		FROM
			AUTH_EMAIL
		WHERE
			AUTH_YN = 'Y'
	</delete>
	<insert id="saveAuthMailCode" >
	INSERT
		INTO
		AUTH_EMAIL(
			EMAIL_ADDR
			,AUTH_CODE
			,EXP_DATE
			,AUTH_YN
		)
		VALUES(
			#{emailAddr}
			,#{authCode}
			,SYSDATE + (3 / (24 * 60))
			,#{authYn}
		)
	</insert>

</mapper>