<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.wellness.admin.place.model.dao.AdminPlaceMapper">

	<resultMap id="placeImageResponseMap" type="PlaceImageResponse">
		<id property="imgNo" column="IMG_NO" />
		<result property="imgOrder" column="IMG_ORDER" />
		<result property="imgPath" column="IMG_PATH" />
		<result property="originalName" column="ORIGINAL_NAME" />
		<result property="saveName" column="SAVE_NAME" />
		<result property="imageUrl" column="IMAGE_URL" />
		<association property="license"
				javaType="com.kh.wellness.admin.place.model.dto.PlaceImageLicenseResponse"
				notNullColumn="LICENSE_IMG_NO">
			<result property="sourceName" column="LICENSE_SOURCE_NAME" />
			<result property="sourcePageUrl" column="LICENSE_SOURCE_PAGE_URL" />
			<result property="authorName" column="LICENSE_AUTHOR_NAME" />
			<result property="licenseCode" column="LICENSE_CODE" />
			<result property="licenseUrl" column="LICENSE_URL" />
			<result property="attributionText" column="LICENSE_ATTRIBUTION_TEXT" />
		</association>
	</resultMap>

	<select id="countPlaces" resultType="long">
		SELECT
			COUNT(*)
		FROM
			PLACE
	</select>

	<select id="selectPlaces" resultType="AdminPlaceListResponse">
		SELECT
			P.PLACE_NO
			,TO_CHAR(P.CREATE_DATE, 'YYYY-MM-DD HH24:MI:SS') AS CREATE_DATE
			,P.PLACE_NAME
			,T.TYPE
			,P.PHONE_NUMBER
			,P.DEL_YN
		FROM
			PLACE P
		LEFT JOIN
			TYPE_DETAIL TD
		ON
			P.TYPE_DETAIL_NO = TD.TYPE_DETAIL_NO
		LEFT JOIN
			TYPE T
		ON
			TD.TYPE_NO = T.TYPE_NO
		ORDER BY
			P.PLACE_NO DESC
		OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
	</select>

	<select id="selectPlaceDetail" resultType="AdminPlaceDetailResponse">
		SELECT
			TO_CHAR(CREATE_DATE, 'YYYY-MM-DD HH24:MI:SS') AS CREATE_DATE
			,TYPE_DETAIL_NO
			,PLACE_NAME
			,PLACE_DESCRIPTION
			,ADDR
			,X_AXIS
			,Y_AXIS
		FROM
			PLACE
		WHERE
			PLACE_NO = #{placeNo}
	</select>

	<select id="selectPlaceImages" resultMap="placeImageResponseMap">
		SELECT
			PI.IMG_NO
			,PI.IMG_ORDER
			,PI.IMG_PATH
			,PI.ORIGINAL_NAME
			,PI.SAVE_NAME
			,PI.IMG_PATH || PI.SAVE_NAME AS IMAGE_URL
			,PL.IMG_NO AS LICENSE_IMG_NO
			,PL.SOURCE_NAME AS LICENSE_SOURCE_NAME
			,PL.SOURCE_PAGE_URL AS LICENSE_SOURCE_PAGE_URL
			,PL.AUTHOR_NAME AS LICENSE_AUTHOR_NAME
			,PL.LICENSE_CODE
			,PL.LICENSE_URL
			,PL.ATTRIBUTION_TEXT AS LICENSE_ATTRIBUTION_TEXT
		FROM
			PLACE_IMG PI
		LEFT JOIN
			PLACE_LICENSE PL
		ON
			PI.IMG_NO = PL.IMG_NO
		WHERE
			PI.PLACE_NO = #{placeNo}
		AND
			PI.DEL_YN = 'N'
		ORDER BY
			PI.IMG_ORDER
			,PI.IMG_NO
	</select>

	<select id="countTypeDetailByNo" resultType="int">
		SELECT
			COUNT(*)
		FROM
			TYPE_DETAIL
		WHERE
			TYPE_DETAIL_NO = #{typeDetailNo}
	</select>

	<insert id="insertPlace"
			useGeneratedKeys="true"
			keyProperty="placeNo"
			keyColumn="PLACE_NO">
		INSERT INTO
			PLACE (
				TYPE_DETAIL_NO
				,PLACE_NAME
				,PLACE_DESCRIPTION
				,ADDR
				,X_AXIS
				,Y_AXIS
				,VIEW_COUNT
				,DEL_YN
				,CREATE_DATE
			)
		VALUES (
			#{typeDetailNo}
			,#{placeName}
			,#{placeDescription}
			,#{addr}
			,#{xAxis}
			,#{yAxis}
			,#{viewCount}
			,'N'
			,SYSDATE
		)
	</insert>

	<insert id="insertPlaceImg"
			useGeneratedKeys="true"
			keyProperty="imgNo"
			keyColumn="IMG_NO">
		INSERT INTO
			PLACE_IMG (
				PLACE_NO
				,ORIGINAL_NAME
				,SAVE_NAME
				,IMG_PATH
				,IMG_ORDER
				,DEL_YN
				,CREATE_DATE
			)
		VALUES (
			#{placeNo}
			,#{originalName}
			,#{saveName}
			,#{imgPath}
			,#{imgOrder}
			,'N'
			,SYSDATE
		)
	</insert>

	<select id="countActivePlace" resultType="int">
		SELECT
			COUNT(*)
		FROM
			PLACE
		WHERE
			PLACE_NO = #{placeNo}
		AND
			DEL_YN = 'N'
	</select>

	<update id="updatePlace">
		UPDATE
			PLACE
		<set>
			<if test="req.typeDetailNo != null">TYPE_DETAIL_NO = #{req.typeDetailNo},</if>
			<if test="req.placeName != null">PLACE_NAME = #{req.placeName},</if>
			<if test="req.placeDescription != null">PLACE_DESCRIPTION = #{req.placeDescription},</if>
			<if test="req.addr != null">ADDR = #{req.addr},</if>
			<if test="req.xAxis != null">X_AXIS = #{req.xAxis},</if>
			<if test="req.yAxis != null">Y_AXIS = #{req.yAxis},</if>
		</set>
		WHERE
			PLACE_NO = #{placeNo}
		AND
			DEL_YN = 'N'
	</update>

	<update id="softDeletePlaceImages">
		UPDATE
			PLACE_IMG
		SET
			DEL_YN = 'Y'
		WHERE
			PLACE_NO = #{placeNo}
		AND
			DEL_YN = 'N'
		AND
			IMG_NO IN
			<foreach collection="imgNos" item="imgNo" open="(" separator="," close=")">
				#{imgNo}
			</foreach>
	</update>

	<select id="selectMaxImgOrder" resultType="int">
		SELECT
			NVL(MAX(IMG_ORDER), 0)
		FROM
			PLACE_IMG
		WHERE
			PLACE_NO = #{placeNo}
		AND
			DEL_YN = 'N'
	</select>

	<select id="selectPlaceImgList" resultType="com.kh.wellness.admin.place.model.vo.PlaceImg">
		SELECT
			IMG_NO
			,PLACE_NO
			,ORIGINAL_NAME
			,SAVE_NAME
			,IMG_PATH
			,IMG_ORDER
		FROM
			PLACE_IMG
		WHERE
			PLACE_NO = #{placeNo}
		AND
			DEL_YN = 'N'
		ORDER BY
			IMG_ORDER
			,IMG_NO
	</select>

	<select id="selectActivePlaceImg" resultType="com.kh.wellness.admin.place.model.vo.PlaceImg">
		SELECT
			IMG_NO
			,PLACE_NO
			,ORIGINAL_NAME
			,SAVE_NAME
			,IMG_PATH
			,IMG_ORDER
		FROM
			PLACE_IMG
		WHERE
			PLACE_NO = #{placeNo}
		AND
			IMG_NO = #{imgNo}
		AND
			DEL_YN = 'N'
	</select>

	<update id="updatePlaceImgOrder">
		UPDATE
			PLACE_IMG
		SET
			IMG_ORDER = #{imgOrder}
		WHERE
			PLACE_NO = #{placeNo}
		AND
			IMG_NO = #{imgNo}
		AND
			DEL_YN = 'N'
	</update>

	<delete id="deletePlaceLicensesByPlaceNo">
		DELETE FROM
			PLACE_LICENSE
		WHERE
			IMG_NO IN (
				SELECT IMG_NO
				FROM PLACE_IMG
				WHERE PLACE_NO = #{placeNo}
			)
	</delete>

	<delete id="deletePlaceLicense">
		DELETE FROM
			PLACE_LICENSE
		WHERE
			IMG_NO = #{imgNo}
	</delete>

	<delete id="hardDeletePlaceImage">
		DELETE FROM
			PLACE_IMG
		WHERE
			PLACE_NO = #{placeNo}
		AND
			IMG_NO = #{imgNo}
		AND
			DEL_YN = 'N'
	</delete>

	<select id="countActiveImageReferences" resultType="int">
		SELECT
			COUNT(*)
		FROM
			PLACE_IMG
		WHERE
			IMG_PATH = #{imgPath}
		AND
			SAVE_NAME = #{saveName}
		AND
			DEL_YN = 'N'
	</select>

	<insert id="insertPlaceLicense">
		INSERT INTO
			PLACE_LICENSE (
				IMG_NO
				,SOURCE_NAME
				,SOURCE_PAGE_URL
				,AUTHOR_NAME
				,LICENSE_CODE
				,LICENSE_URL
				,ATTRIBUTION_TEXT
			)
		VALUES (
			#{imgNo}
			,#{sourceName}
			,#{sourcePageUrl}
			,#{authorName}
			,#{licenseCode}
			,#{licenseUrl}
			,#{attributionText}
		)
	</insert>

	<update id="softDeletePlaces">
		UPDATE
			PLACE
		SET
			DEL_YN = 'Y'
			,DELETE_DATE = SYSDATE
		WHERE
			DEL_YN = 'N'
		AND
			PLACE_NO IN
			<foreach collection="placeNos" item="placeNo" open="(" separator="," close=")">
				#{placeNo}
			</foreach>
	</update>

	<update id="restorePlaces">
		UPDATE
			PLACE
		SET
			DEL_YN = 'N'
			,DELETE_DATE = NULL
		WHERE
			DEL_YN = 'Y'
		AND
			PLACE_NO IN
			<foreach collection="placeNos" item="placeNo" open="(" separator="," close=")">
				#{placeNo}
			</foreach>
	</update>

</mapper>
