<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.wellness.course.model.dao.CourseMapper">

    <select id="selectActiveCourses"
            resultType="CourseListRow">
        SELECT
            C.COURSE_NO,
            C.COURSE_NAME,
            START_PLACE.PLACE_NO AS START_PLACE_NO,
            START_PLACE.PLACE_NAME AS START_PLACE_NAME,
            END_PLACE.PLACE_NO AS END_PLACE_NO,
            END_PLACE.PLACE_NAME AS END_PLACE_NAME,
            C.ESTIMATED_TIME,
            C.DESCRIPTION
        FROM
            COURSE C
        JOIN PLACE START_PLACE
            ON START_PLACE.PLACE_NO = C.START_PLACE
        JOIN PLACE END_PLACE
            ON END_PLACE.PLACE_NO = C.END_PLACE
        WHERE
            C.ACTIVE = 'Y'
        ORDER BY
            C.COURSE_NO DESC
        OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
    </select>

    <select id="countActiveCourses" resultType="long">
        SELECT
            COUNT(*)
        FROM
            COURSE C
        JOIN PLACE START_PLACE
            ON START_PLACE.PLACE_NO = C.START_PLACE
        JOIN PLACE END_PLACE
            ON END_PLACE.PLACE_NO = C.END_PLACE
        WHERE
            C.ACTIVE = 'Y'
    </select>
    
    <select id="selectByCourseNo"
            resultType="CourseResponse">
        SELECT
               COURSE_NO
             , START_PLACE
             , END_PLACE
             , COURSE_NAME
             , ESTIMATED_TIME
             , DESCRIPTION
          FROM
               COURSE
         WHERE
               ACTIVE = 'Y'
           AND
               COURSE_NO = #{courseNo}
    </select>

    <select id="selectWaypointBycourseNo"
            resultType="WaypointDto">
        SELECT
               W.WAYPOINT_NO
             , W.COURSE_NO
             , W.PLACE_NO
             , W.WAYPOINT_SEQUENCE
             , P.PLACE_NAME
             , P.X_AXIS
             , P.Y_AXIS
             , PI.IMG_PATH || PI.SAVE_NAME AS IMAGE_URL
          FROM
               COURSE C
          JOIN
               COURSE_WAYPOINT W ON C.COURSE_NO = W.COURSE_NO
          JOIN
               PLACE P ON W.PLACE_NO = P.PLACE_NO
          LEFT
          JOIN
               PLACE_IMG PI ON P.PLACE_NO = PI.PLACE_NO
                           AND PI.IMG_ORDER = 1
         WHERE
               W.COURSE_NO = #{courseNo}
           AND
               C.ACTIVE = 'Y'
           AND
               P.DEL_YN = 'N'
         ORDER
            BY
               W.WAYPOINT_SEQUENCE ASC
    </select>
    
	<resultMap id="placeResultMap" type="PlaceDto">
	
	    <id property="placeNo" column="PLACE_NO"/>

	    <result property="placeName" column="PLACE_NAME"/>
	    <result property="xAxis" column="X_AXIS"/>
	    <result property="yAxis" column="Y_AXIS"/>
	    <result property="imageUrl" column="IMAGE_URL"/>
	
	    <collection property="tags"
	                ofType="CourseTag">
	        <result column="TAG_CONTENT"/>
	    </collection>
	
	</resultMap>
    
    <select id="selectByTags"
            resultMap="placeResultMap">
    	SELECT
    	       P.PLACE_NO
    	     , P.PLACE_NAME
    	     , P.X_AXIS
    	     , P.Y_AXIS
    	     , PI.IMG_PATH || PI.SAVE_NAME AS IMAGE_URL
    	     , T.TAG_CONTENT
    	  FROM 
    	       PLACE P
    	  JOIN
    	       PLACE_TAG PT ON P.PLACE_NO = PT.PLACE_NO
    	  JOIN
    	       TAG T ON PT.TAG_NO = T.TAG_NO
    	  LEFT
    	  JOIN
    	       PLACE_IMG PI ON P.PLACE_NO = PI.PLACE_NO AND PI.IMG_ORDER = 1
    	 WHERE
    	       P.DEL_YN = 'N'
    	   AND
    	       T.TAG_CONTENT IN
    	       <foreach collection="tags"
    	                item="tag"
    	                open="("
    	                separator=","
    	                close=")">
    	       		#{tag}
    	       </foreach>
    </select>

</mapper>
